/* Colors
 * D68189 - Dark pink
 * E94E77 - Pink
 * C6A49A - Brown
 * C6E5D9 - Teal
 * F4EAD5 - Beige
 */

body {
	background-color: #2E3331;
	padding-top: 40px;
	padding-bottom: 40px;
	
	color: #F9F7F8;
}

.container {
	width: 90%;
	height: 85%;
		
	padding-top: 100px;
	padding-bottom: 100px;
}

/* Need to make no background on buttons or an empty button with only a border */
input, button {
	background: transparent;
	
	border: 1px solid #F9F7F8;
	
	padding: 10px;
}

hr {
	width: 60%;
}

.selected {
	background: #F9F7F8;
	color: #2E3331;
}

#addi, #subt, #mult, #divi {
	font-size: 2em;
}